#tap_bar a{color:#202020;}
#top a{color:#202020;}
#top{background-color:#fff;}
.back span{color:#D6D6D6}
.trigger{background-color:#D6D6D6;}

#wrap{
  margin:auto;
  padding-top:50px;
}
body{background-color:#202020;}
.visual{
  height:100vh;
  position:relative;
  color:#D6D6D6;
  font-size:40px;
  font-size:2.5rem;
  margin:100px;
  margin:1.875rem;
  font-family: 'Abril Fatface', cursive;
  overflow:hidden;
}
.visual span:nth-of-type(1){
  position:relative;
  z-index:1;
}
.visual_img1{
  position:absolute;
  right:0;
  height:60px;
  height:3.75rem;
  width:150px;
  width:9.375rem;
  object-fit:cover;
  border:1px solid #D6D6D6;
  border-radius:15px;
  border-radius:0.938rem;
}
.visual span:nth-of-type(2){
  display:block;
  text-align:right;
  position:relative;
  padding-top:1rem;
}
.visual span:nth-of-type(2):before{
  width:100vw;
  position:absolute;
  content:'';
  height:1px;
  background-color:#D6D6D6;
  right:45%;
  top:55%;
  transform:translateY(-50%);
}
.visual span:nth-of-type(3){
  position:absolute;
  top:30vw;
  left:0;
  z-index:1;
  background-color:#202020;
  border-radius:0 0 20px 0;
  display:inline-block;
  padding:10px;
}
.visual_img2{
  width:90vw;
  position:absolute;
  top:40vw;
  left:0;
}
.visual_more{
  position:absolute;
  font-family: 'BookkMyungjo-Bd';
  bottom:48vw;
  font-size:5vw;
  right:0;
}
.visual_more span{
  position:absolute;
  right:0;
  background-color:#FFD100;
  color:#202020;
  width:40vw;
  padding:5vw;
  display:inline-block;
  border-radius:50vw 0 0 50vw;
}
.visual_more a{
  position:absolute;
  z-index:2;
  background-color:#202020;
  color:#D6D6D6;
  right:1vw;
  padding:1vw;
  height:20vw;
  text-transform:capitalize;
  top:8vw;
  font-size:4vw;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:4vw 0 4vw 0;
}

/* section 1 ================== */
#wrap{
  height: 100vh;
  overflow-y: scroll;
  background-color: black;
}
#event{
  height: 700px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#event h1{
  color: #D6D6D6;
  margin-bottom: 50px;
  font-size: 2.5rem;
  font-family: 'Cafe24ClassicType-Regular';
}
.pattern{
  position: fixed;
  top: 7%;
  left: -5%;
  width: 100%;
  max-width: 100%;
  height: 100vh;
}
.pattern img{
  width: 120%;
}
.circle{
  position: relative;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 400px;
  z-index: 100;
}
.more{
  font-size: 1.5rem;
  font-family: 'Abril Fatface', cursive;
  padding: 10px 20px;
  color: #FFD100;

}
.circle ul li:first-child img{
  position: absolute;
  top: 30%;
  right: 2%;
  width: 100%;
  max-width: 28%;
  border-radius: 50%;
}
.circle ul li:nth-child(2) img{
  position: absolute;
  top: -5%;
  left: 3%;
  width: 100%;
  max-width: 20%;
  border-radius: 50%;
}
.circle ul li:nth-child(3) img{
  position: absolute;
  top: 20%;
  left: 5%;
  width: 100%;
  max-width: 28%;
  border-radius: 50%;
}
.circle ul li:nth-child(4) img{
  position: absolute;
  top: 0%;
  right: 30%;
  width: 100%;
  max-width: 35%;
  border-radius: 50%;
}
.circle ul li:nth-child(5) img{
  position: absolute;
  bottom: 10%;
  right: 28%;
  width: 100%;
  max-width: 50%;
  border-radius: 50%;
  box-shadow: 2px 5px 5px 2px #222;
}

/* 자주묻는 질문 */
#faq{
  width: 100%;
  max-width: 90%;
  margin: auto auto 50px auto;
  line-height: 30px;
  height: 50vh;
}
#faq h1{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 20px;
  font-family: 'Cafe24ClassicType-Regular';
  color: #D6D6D6;
}
.accordion .title{
  background-color: #FEFAE0;
  width: 90vw;
  height: 7vh;
  margin-bottom: 7px;
  font-family: Pretendard, sans-serif;
}
.accordion .title {
  cursor: pointer;
  text-align: left;
  line-height: 6vh;
  text-indent: 60px;
  position: relative;
  top: 0;
  left: 0;
}
.accordion .title:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 15%;
  left: 2%;
  background: url(../image/ques.svg)no-repeat;
}
.accordion .title:after {
  position: absolute;
  content: '\e5cf';
  font-family: 'Material Icons Outlined';
  top: -10%;
  left: 75%;
  margin-top: 5px;
  transition: 0.35s;
}
.accordion .title.active:after {content: '\e5ce';}
.accordion .title.active {
  background-color: #FEFAE0;
}
.accordion .content {
  display: none;
  position: relative;
}
.accordion .content.active{
  display: flex;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 0 0 30px 30px;
  background-color: #FEFAE0;
  width: 90vw;
  height: 15vh;
  text-align: left;
  margin-bottom: 7px;
  font-family: Pretendard, sans-serif;
  padding: 2vw 2vw 5vw 15vw;
  overflow: hidden;
  box-sizing: border-box;
} 
.accordion .content.active::before{
  display: block;
}
.accordion .content:before {
  display: none;
  position: absolute;
  content: '';
  background: url(../image/answer.svg) no-repeat;
  font-family: 'Material Icons Outlined';
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  margin: 1vw;
  transition: 0.35s;
}