#wrap{
  margin:auto;
}
.visual{
  height:100vh;
  position:relative;
  color:#FF8300;
  font-size:40px;
  font-size:2.5rem;
  margin:30px;
  margin:1.875rem;
  border-radius:15px;
  font-family: 'Abril Fatface', cursive;
}
.visual span:not(:nth-of-type(1)){display:block;}
.visual_img1{
  position:absolute;
  right:0;
  height:60px;
  height:3.75rem;
  width:150px;
  width:9.375rem;
  object-fit:cover;
  border:1px solid #FF8300;
  border-radius:15px;
  border-radius:0.938rem;
}
.visual span:nth-of-type(2){
  text-align:right;
  position:relative;
}
.visual span:nth-of-type(2):before{
  width:100%;
  position:absolute;
  content:'';
  height:1px;
  background-color:#FF8300;
  right:40%;
  top:50%;
}
.visual span:nth-of-type(3){
  position:absolute;
  top:30vw;
  left:0;
  z-index:1;
  background-color:#2E005D;
  border-radius:0 0 20px 0;
  display:inline-block;
  padding:10px;
}
.visual_img2{
  width:90vw;
  position:absolute;
  top:30vw;
  left:0;
}